.button-ol-variant(@color){
  color:darken(@color,10%);
  padding:.8em 1.65em .7em;
  border:2px solid @color;
  //box-shadow: 0 0 0 2px @color inset;
  background-color: transparent; 

  &:hover {
    border-color: darken(@color, 10%);
    background-color: transparent; 
  }
  &:active {
    //box-shadow: 0 0 0 2px @color inset;
    background-color: transparent; 

  }

  &.btn-muted:hover,
  &.btn-muted:active,
  &.btn-muted:focus {
    cursor: default;
    box-shadow: 0 0 0 2px @color inset;
    color:darken(@color,10%);
  }
}

.button-variant(@color){
  background: @color;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background: darken(@color, 10%);
    color:#fff;
  }
}

.button-size-variant(@btn-size){
  font-size:@btn-size;
}
