// Colors
// --------------------------------
@greyblue: #dee0e5;
@dark-greyblue: #c1c5cf;
@light-grey: #9f9f9e;
@grey: #6f6f6e;
@dark-grey: #2f2f2e;
@orange: #f0ad4e;
@red: #d9534f;
@blue: #428bca;
@light-blue: #5bc0de;
@green: #47a447;

// Regular buttons
// --------------------------------

@btn-reg-orange: @orange;

// Bordered buttons
// --------------------------------

@btn-default: darken(@greyblue, 8%);
@btn-orange: @orange;
@btn-red: @red;
@btn-blue: @blue;
@btn-light-blue: @light-blue;
@btn-green: @green;

// Button sizes
// --------------------------------

@btn-small-size: 12px;
@btn-large-size: 18px;

// Labels
// --------------------------------

@label-size: 12px;

@label-color: @greyblue;
@label-color-orange: @orange;

// Nav
// --------------------------------

@navbar-padding: 22px;